<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter!</title>
</head>
<body>
    <h1>Counter!</h1>
    <h4><%= count %></h4>
    <a href="/single"><button>Reload</button></a>
    <a href="/double"><button>Double Reload!</button></a>
    <a href="/reset"><button>Reset count</button></a>
</body>
</html>